[submodule "layers/meta-boss"]
	path = layers/meta-boss
	url = https://github.com/nightknight94/meta-boss.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
